doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript',src='javascripts/socket.io.js')
    script(type='text/javascript',src='javascripts/chatstart.js')
    script(type='text/javascript',src='javascripts/create.js')
    script(type='text/javascript',src='javascripts/draw_create.js')
    meta(name='viewport',content='width=device-width, initial-scale=1')
  body
    block content