body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: blue;
}


.wrapper{
    width: 640px;
    margin: auto;
    background-color: red;
    /*上　左右　下　autoにすれば
    中央寄せになる*/
}
